 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("./../res/imgs/-min.jpg");
  background-position: 63.21% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 770px;
  margin: 193px auto 0;
}

.u-section-1 .u-text-2 {
  width: 770px;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 59px auto 60px;
  padding: 10px 57px 10px 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 90px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-2 .u-image-1 {
  width: 663px;
  min-height: 969px;
  background-image: url("./../res/imgs/v.png");
  background-position: 50% 50%;
  margin: 60px 101px 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  width: 959px;
  height: 723px;
  margin: 38px auto 0 -375px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: -365px -101px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  min-height: 513px;
  grid-gap: 31px 31px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-list-1 {
    grid-template-rows: repeat(1, auto);
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 399px;
    grid-gap: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 57px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 407px;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    grid-template-rows: auto;
    width: 340px;
    margin-top: 197px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 844px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1131px;
}

.u-section-3 .u-image-1 {
  height: 553px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  margin: -101px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 275px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-group-1 {
  width: 90px;
  min-height: 90px;
  margin: 0 113px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-group-2 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 113px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 113px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 113px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  font-style: italic;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-13 {
  width: 656px;
  font-style: italic;
  line-height: 1;
  margin: -829px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    padding: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    padding: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    padding: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    padding: 0;
  }

  .u-section-3 .u-text-13 {
    width: 259px;
    margin-top: -720px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1235px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-3 .u-text-13 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1131px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-text-13 {
    margin-top: -720px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 997px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 150px;
  height: 47px;
  margin: 40px auto 0;
}

.u-section-4 .u-image-1 {
  width: 468px;
  height: 468px;
  background-image: url("./../res/imgs/billionphotos-2864905.jpg");
  background-position: 50% 50%;
  margin: 232px auto 0;
}

.u-section-4 .u-list-1 {
  width: 882px;
  margin: -640px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  min-height: 297px;
  grid-gap: 22px 22px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  line-height: 28.8px;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  font-size: 1rem;
  line-height: 28.8px;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-4 .u-text-7 {
  margin-left: 0;
  font-size: 1rem;
  line-height: 28.8px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-4 .u-image-1 {
    width: 536px;
    height: 536px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-4 .u-text-3 {
    margin-bottom: 0;
  }

  .u-section-4 .u-text-5 {
    margin-bottom: 0;
  }

  .u-section-4 .u-text-7 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1326px;
  }

  .u-section-4 .u-image-1 {
    width: 535px;
    height: 535px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 453px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-4 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-list-1 {
    margin-top: -512px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 601px;
  }
} .u-section-5 {
  min-height: 731px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  font-style: italic;
  margin: 236px calc(((100% - 1140px) / 2) + 300px) 0 calc(((100% - 1140px) / 2) + -50px);
}

.u-section-5 .u-list-1 {
  width: 360px;
  margin: 54px auto -52px calc(((100% - 1140px) / 2) + -50px);
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 273px;
  grid-gap: 30px 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -24px 107px 0 0;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 10px 49px 11px 48px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 200px);
    margin-left: calc(((100% - 940px) / 2) + -50px);
  }

  .u-section-5 .u-list-1 {
    margin-left: calc(((100% - 940px) / 2) + -50px);
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 73px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-list-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-right: 82px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-list-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 146px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-right: 106px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 32px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 49px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 516px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 58px auto 58px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 40px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-family: titillium-Web;
  margin: 20px 40px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 40px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 133px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-image-1 {
  width: 143px;
  height: 67px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 133px;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-image-2 {
  width: 143px;
  height: 67px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 133px;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-image-3 {
  width: 143px;
  height: 67px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-5 {
  background-image: none;
  min-height: 133px;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px;
}

.u-section-6 .u-image-4 {
  width: 143px;
  height: 67px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-6 {
  background-image: none;
  min-height: 133px;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px;
}

.u-section-6 .u-image-5 {
  width: 243px;
  height: 122px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-7 {
  background-image: none;
  min-height: 133px;
}

.u-section-6 .u-container-layout-7 {
  padding: 20px;
}

.u-section-6 .u-image-6 {
  width: 143px;
  height: 67px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-text-1 {
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 110px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 110px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 110px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 110px;
  }

  .u-section-6 .u-image-5 {
    width: 195px;
    height: 98px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./../res/imgs/cvb.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 385px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 719px;
  margin: 38px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 193px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-7 .u-form-1 {
  height: 49px;
  width: 497px;
  margin: 25px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 116px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 17px auto 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 70px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 92px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 22px 40px;
  }

  .u-section-7 .u-form-1 {
    height: 112px;
    width: 449px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("./../res/imgs/xc-min.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 832px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 754px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  line-height: 52.8px;
  margin: 13px 0 0 25px;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  margin: 40px 18px 0 43px;
}

.u-section-8 .u-text-3 {
  letter-spacing: 2px;
  font-style: italic;
  margin: 12px 18px 0 43px;
}

.u-section-8 .u-text-4 {
  font-style: italic;
  font-weight: normal;
  margin: 5px 18px 0 43px;
}

.u-section-8 .u-form-1 {
  height: 463px;
  width: 480px;
  margin: 40px 13px 0;
}

.u-section-8 .u-label-1 {
  font-weight: 700;
}

.u-section-8 .u-label-2 {
  font-weight: 700;
}

.u-section-8 .u-label-3 {
  font-weight: 700;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 711px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-map-1 {
  height: 651px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 622px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-form-1 {
    width: 410px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 586px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-form-1 {
    width: 300px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 674px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-8 .u-text-1 {
    line-height: 1.2;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 424px;
  }
}