<!DOCTYPE html>
<html lang="en">

<body>
    <div class="bill-container box">
        <form action="" method="get">

            <h4 class="form-heading">DTH Recharge </h4>

            <select name="Select_Operator" id="Select_Operator"  style="color:#999;">
                <option value="" disabled selected>Select_Operator</option>
                <option value="Airtel Digital TV"> Airtel Digital TV</option>
                <option value="Tata Sky">Tata Sky</option>
                <option value="Dish TV">Dish TV</option>
                <option value="Jio TV">Jio TV</option>
                <option value="D2h">D2h</option>
            </select>

            <p> <input id="rzp-order-id" type="number" name="number" placeholder="Registered Mobile No."></p>
            <p> <input type="text" name="number" placeholder="Enter Id"></p>

            <input type ="button" id="rzp-button1" value="Proceed to Recharge"><br><br>
             <script src="./../js/order.js"></script>
        </form>
    </div>
    
</body>

</html>