<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <div class="bill-container box">
     <form action="" method="get">

        <h4 class="form-heading">LPG Gas Cylinder </h4>
        <p>Book Cylinder </p>

        <select name="Provider" id="Provider">
            <option value="">Select your Gas Provider</option>
            <option value="HP Gas"> HP Gas</option>
            <option value="Bharat Gas">Bharat Gas</option>
            <option value="Indane">Indane</option>   
        </select>
        <p> <input type="number" name="number" placeholder="Mobile No./Consumer No./17 digit LPG ID."></p>

        <select name="Select_Provider" id="Select_Provider" style="color:#999;">
            <option value="" disabled selected>Select_Provider</option>
            <option value="Andhra Pradesh"> Andhra Pradesh</option>
            <option value="Arunanchal Pradesh">Arunanchal Pradesh</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhatisgarh">Chhatisgarh</option>
            <option value="Daman and Diu">Daman and Diu"</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Punjab">Punjab</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value=""> Andhra Pradesh</option>
            <option value="Arunanchal Pradesh">Arunanchal Pradesh</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhatisgarh">Chhatisgarh</option>
            <option value="Daman and Diu">Daman and Diu</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Punjab">Punjab</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option> 
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Punjab">Punjab</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option> 

              
        </select>

        <p>  <input id="rzp-order-id" type="text" name="number" placeholder="Enter Id"></p>
        <input type="button" id="rzp-button1" value="Proceed to Recharge"><br><br>
     </form>
    </div>
</body>
</html>