<!DOCTYPE html>
<html lang="en">
<body>
    <div class="bill-container box">
     <form action="" method="get">

        <h4 class="form-heading">Recharge or Pay Mobile Bill </h4>
        <input class="radio" type="radio" id="prepaid" value="Prepaid" name="recharge-type" checked>
        <label class="radio-label" for="prepaid">Prepaid</label>
        <input class="radio" type="radio" id="postpaid" value="Postpaid" name="recharge-type">
        <label class="radio-label" for="postpaid">Postpaid</label>
        <br>
        <p>  <input type="number" name="number" placeholder="Mobile Number" required value="Please fill your mobile number"></p>
        

        <select name="Select_Operator" id="Select_Operator" required>
            <option value="" disabled selected>Select Operator</option>
            <option value="Airtel">Airtel</option>
            <option value="Jio">Jio</option>
            <option value="Bsnl">Bsnl</option>
            <option value="V!">V!</option>
        </select>
        
        <p>  <input id="rzp-order-id" type="text" name="number" placeholder="Enter Id" required></p>
        <input type="button" id="rzp-button1" value="Proceed to Recharge"><br><br>
        <script src="./../js/order.js"></script>
       
     </form>
    </div>
</body>
</html>