<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap"
        rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <div class="bill-container box">
        <form action="" method="get">

            <h4 class="form-heading">Book my Movie </h4>

            <select name="Select_CXity" id="Select_City" style="color:#999;">
                <option value="" disabled selected>Select_City</option>
                <option value="Amritsar"> Amritsar</option>
                <option value="Bathinda">Bathinda</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Delhi">Delhi</option>
                <option value="Ferozpur">Ferozpur</option>
                <option value="Gidarbaha">Gidarbaha</option>
                <option value="Hisar">Hisar</option>
                <option value="Indore">Indore</option>
                <option value="Jammu">Jammu</option>
                <option value="Kotakpura">Kotakpura</option>
                <option value="Ludhiana">Ludhiana</option>
                <option value="Mansa">Mansa</option>
                <option value="Muktsar">Muktsar</option>
                <option value="Shri Ganganagar">Shri Ganganagar</option>
            </select>
            <br>
            <br>
            <select name="Choose your Movie" id="Choose your Movie" style="color:#999;">
                <option value="" disabled selected>Choose your Movie</option>
                <option value="Shava Ni Girdari Lal"> Shava Ni Girdari Lal</option>
                <option value="Shooter">Shooter</option>
                <option value="Chandigarh Kre Ashiqui">Chandigarh Kre Ashiqui</option>
                <option value="Tadap">Tadap</option>
            </select>


            <p> <input id="rzp-order-id" type="text" name="number" placeholder="Enter Id"></p>
            <input id="rzp-button1" type="button" value="Proceed to Pay"><br><br>
            <script src="./../js/order.js"></script>

        </form>
    </div>

</body>

</html>