<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../..//style/inscurence.css">
    
       
</head>
<body>
    <div class="container">

     <form action="" method="get">

        <h4>Find the best insurance for your car</h4><br>
        <h4>Enter four wheeler number to get quote </h4>
        
        <input type="text" name="number" placeholder="e.g. DL09CT0022">
        <p>By proceeding you agree to Terms & Conditions</p>
        <p><input type="button" value="Get quote "></p>
        <script src="./../..//js/toolbar.js"></script>
        <script src="./../..//js/root.js"></script>

        </form>
    </div>
</body>
</html>