<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../..//style/inscurence.css">
    
</head>
<body>
    <div class="container">

     <form action="" method="get">

        <h4>Enter details for family members to be insured</h4>
        
     <input type="checkbox" name="call type" id=""> Self <br><br>
     <input type="checkbox" name="call type" id="">spouse<br><br>

     <select name="Add another members" id="Add another members">
        <option value="" disabled selected>Add another members</option>
        <option value="Mother"> Mother</option>
        <option value="Father">Father</option>
        </select>

        <h4>Where Do You Live ?</h4>

        <input type="number" name="number" placeholder="Enter Your Pin Code">
        <br><br>
        <select name="Choose your City" id="Choose your City">
            <option value=""disabled selected>Choose your city</option>
            <option value="Amritsar"> Amritsar</option>
            <option value="Bathinda">Bathinda</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Delhi">Delhi</option>
            <option value="Ferozpur">Ferozpur</option>
            <option value="Gidarbaha">Gidarbaha</option>
            <option value="Hisar">Hisar</option>
            <option value="Indore">Indore</option>
            <option value="Jammu">Jammu</option>
            <option value="Kotakpura">Kotakpura</option>
            <option value="Ludhiana">Ludhiana</option>
            <option value="Mansa">Mansa</option>
            <option value="Muktsar">Muktsar</option>
            <option value="Shri Ganganagar">Shri Ganganagar</option>
        </select>
        <br><br>
        <input type="checkbox" name="call type" id=""> By Proceeding, I agree to the Terms & Conditions<br>
      <p><input type="button" value="Proceed "></p>
        <script src="./../..//js/toolbar.js"></script>
        <script src="./../..//js/root.js"></script>
     </form> 
     </div>
    </body>
    </html>