<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../..//style/inscurence.css">
</head>
<body>
    <div class="container">
     <form action="" method="get">

        <h4 >Enter personal details to get quote </h4>
        <input type="text" name="Enter Your Name" placeholder="Enter Your Name">
        <h4>Date of birth</h4>
        <input type="date" name="number" placeholder="DD/MM/YY">
        <h4>Gender</h4>
        <input class="radio" type="radio" id="Gender" value="Male" name="insurence-type" value="required">
        <label class="radio-label" for="Gender">Male</label>
        <input class="radio" type="radio" id="Gender" value="Female" name="insurence-type">
        <label class="radio-label" for="Gender">Female</label>
        <h4>Annual Income</h4>
        <select name="Select_Income" id="Select_Income">
            <option value="" disabled selected>Select_Income</option>
            <option value="Below ₹2 lakh">Below ₹2 lakh</option>
            <option value="₹2-5 lakhs">₹2-5 lakhs</option>
            <option value="₹5-7 lakhs">₹5-7 lakhs</option>
            <option value="₹10-15 lakhs">₹7-10 lakhs</option>
            <option value="₹10-15 lakhs">₹10-15 lakhs</option>
            <option value="₹10-15 lakhs">Above ₹15 lakhs</option>
        </select>
        
<br>   <br>
        <input type="button" value="Proceed">
        <script src="./../..//js/toolbar.js"></script>
        <script src="./../..//js/root.js"></script>

        
     </form>
    </div>
</body>
</html>
