<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../style/root.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <title>Document</title>
</head>

<body class="main-background">

    <!-- CONTAINER -->
    <div class="home-toolbar-container">
        <ul class="toolbar-menu-container">
            <li class="toolbar-menu-item" id="menu-item-1">
                <div class="smartIcon">
                    <div><img class="iconImg menu-item-image" src="./../res/imgs/mobile-icon.png"></div>
                    <div><span class="itemName">Mobile Recharge</span></div>
                    <div class="itemSelect"> </div>
                </div>
            </li>
            <li class="toolbar-menu-item" id="menu-item-2">
                <div class="smartIcon">
                    <div><img class="iconImg menu-item-image" src="./../res/imgs/electricity-icon.png"></div>
                    <div><span class="itemName">Electricity</span></div>
                    <div class="itemSelect"> </div>
                </div>
            </li>
            <li class="toolbar-menu-item" id="menu-item-3">
                <div class="smartIcon">
                    <div><img class="iconImg menu-item-image" src="./../res/imgs/water-icon.png"></div>
                    <div><span class="itemName">Water</span></div>
                    <div class="itemSelect"> </div>
                </div>
            </li>
            <li class="toolbar-menu-item" id="menu-item-4">
                <div class="smartIcon">
                    <div><img class="iconImg menu-item-image" src="./../res/imgs/movie-icon.png"></div>
                    <div><span class="itemName">Movie</span></div>
                    <div class="itemSelect"> </div>
                </div>
            </li>
            <li class="toolbar-menu-item" id="menu-item-5">
                <div class="smartIcon">
                    <div><img class="iconImg menu-item-image" src="./../res/imgs/travels-logo.png"></div>
                    <div> <span class="itemName">Travels</span></div>
                    <div class="itemSelect"> </div>
                </div>
            </li>
            <li class="toolbar-menu-item" id="menu-item-6">
                <div class="smartIcon">
                    <div><img class="iconImg menu-item-image" src="./../res/imgs/dth-recharge-icon.png"></div>
                    <div><span class="itemName">DTH Recharge</span></div>
                    <div class="itemSelect"> </div>
                </div>
            </li>

        </ul>
    </div>


    <div class="home-toolbar-selected-section">
        <div class="home-toolbar-selected-content" id="home-toolbar-content"></div>
    </div>


    <script src="./../js/root.js"></script>
    <script src="./../js/toolbar.js"></script>

</body>

</html>